// framework
@import "uikit.min";
// boilerplate fixes
@import "boilerplate";
// normalize
@import "normalize";
// importing featherlight css
@import "featherlight";
// sub section styles
@import "subsection";
// 404
@import "404";
// typeface
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,400,600,700");

// GENERAL USE //

$main-color: #00d9e5;
$dark-color: #003c40;
$moderate-color: #00b5bf;
$off-white: #fffeee;

$secondary-color: #414bff;

html {
  scroll-behavior: smooth;
}

::selection {
  background: $main-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $main-color; /* Gecko Browsers */
}

html.with-featherlight {
	/* disable global scrolling when featherlights are visible */
	overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  background-color: $off-white;
  color: $off-white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.25;
}

header svg {
  position: absolute;
  font-size: 12vw;
  font-weight: 700;
  height: 100%;
  left: 23%;
  margin-top: 5%;
  color: $main-color;
}

header svg text {
  fill: $main-color;
  stroke: $main-color;
  fill-opacity: 0;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 2s ease-out normal forwards;
  animation-delay: 0.75s;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 1px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 0.5px;
  }
  100% {
    stroke-width: 0;
    fill-opacity: 1;
  }
}

.main-color {
  color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-size: 12vw;
  line-height: 1;
  font-weight: 700;
  margin: 40% 0 0 0;
  color: $off-white;
}

h2 {
  margin: 5% 0 0 4%;
  font-size: 3.5vw;
  font-weight: 400;
  color: $main-color;
}

h3 {
  margin: auto;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.5em;
  line-height: 1;
  font-weight: bold;
  font-weight: 400;
}

h5 {
  position: absolute;
  text-align: center;
  font-size: 1.25em;
  width: 100%;
  bottom: 1rem;
  transition-duration: 300ms;
  font-weight: 400;
  letter-spacing: 0.025em;
}

h6 {
  font-size: 1.5em;
  margin: 0;
  text-align: left;
  color: #090909;
  font-weight: 700;
}



.casetitle {
  display: block;
  margin: auto;
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
  margin-bottom: 1em;
  color: black;
}

.casetitle span {
  font-size: 1.5rem;
}

p {
  font-size: 14pt;
  line-height: 1.5em;
  font-weight: 400;
}

// https://css-tricks.com/creating-non-rectangular-headers/
svg {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: -2px;
  left: 0;
  width: 100%;
}

a {
  color: $main-color;
  transition-duration: 300ms;
}

a:hover {
  color: $dark-color;
  text-decoration: none;
}

// HEADER STYLES //

header {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 85vh;
}

.left-half {
  background-color: $main-color;
  flex: 1;
  padding: 0 1em 0 0;
  margin: 0;
  text-align: right;
}

.right-half {
  flex: 1;
  margin: 0;
  padding: 0 0 0 1em;
}

.left-half h1 {
  margin: 30vh 4% 0 0;
}

.right-half h1 {
  color: $main-color;
  margin: 40vh 0 0 4%;
}

// NAV STYLES //

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 15vh;
}

nav a {
  flex: 1;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button,
nav div {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  color: $off-white;
  border: solid $off-white 1px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  background-color: $main-color;
  transition-duration: 0.25s;
  font-size: 2em;
  line-height: 1;
  font-weight: 400;
}

button:hover {
  background-color: $moderate-color;
}

section {
  padding: 5% 5% 10% 5%;
  scroll-behavior: smooth;
}

section:focus {
  outline: 0;
}

// ABOUT SECTION STYLES //
section#about,
#contact {
  background-color: $main-color;
  position: relative;
}

section#about h4,
#contact h4 {
  margin: auto;
  margin-bottom: 1em;
}

ul {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  margin: auto;
  padding: 0;
  width: 100%;
}

// SHOWCASE STYLES //

section#work ul li.largerspan {
  grid-column: 1 / span 2;
}

section#work {
  background-color: $off-white;
  position: relative;
  padding-top: 3%;
}

section#work ul {
  margin-bottom: 3em;
}

ul.showcase-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 12pt 12pt;
  margin: auto;
}

section#work ul li {
  grid-column: 1 / span 2;
  position: relative;
  width: 100%;
}

section#work ul li img {
  width: 100%;
}

div.desc {
  display: block;
  background-color: $main-color;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 3.25rem;
  transition-duration: 300ms;
}

section#work ul li {
  width: 100%;
}

.hideme {
  opacity: 0;
}

// CONTACT STYLES //

section#contact {
  height: 70vh;
  text-align: center;
  position: relative;
}

section#contact h3,
section#contact h4 {
  text-align: center;
}

div.footergrid {
  margin: auto;
  margin-top: 2em;
  width: 80%;
  align-items: center;
  align-self: center;
  text-align: center;
}

.footergrid p {
  grid-column: 2 / span 2;
  vertical-align: top;
}

.footerp {
  grid-column: span 2;
  vertical-align: top;
  width: 90%;
  display: block;
  text-align: left;
  margin: auto;
  margin-bottom: 1.5em;
}

.footergrid div img {
  display: block;
  grid-column: 1;
  margin: auto;
  width: 95%;
  opacity: 1;
  transition-duration: 300ms;
}

.footergrid div img:hover {
  opacity: 0.85;
}

.footergrid div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

p.copyright {
  display: block;
  margin: auto;
  font-size: 12pt;
  margin-top: 2em;
  width: 100%;
  font-style: italic;
}

// MEDIA QUERIES //

@media screen and (min-width: 700px) {
  h1 {
    margin: 20% 0 0 0;
  }

  .left-half h1 {
    margin: 25vh 4% 0 0;
  }

  .right-half h1 {
    color: $main-color;
    margin: 35vh 0 0 4%;
  }

  section ul {
    flex-flow: row nowrap;
  }

  section#about ul li {
    padding-right: 2em;
  }

  section#about ul li:last-child {
    padding-right: 0;
  }
  div.footergrid {
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  section {
    padding: 5% 15% 10% 15%;
  }
  
  section#work {
    padding: 5% 19% 10% 19%;
  }

  section#about ul li {
    padding-right: 3.5em;
  }
  
  section#about {
    padding: 5% 19% 10% 19%;
  }

  h1 {
    margin: 10% 0 0 0;
  }

  button {
    font-size: 3em;
  }

  h3 {
    font-size: 4.5em;
  }

  h4 {
    font-size: 3em;
  }

  ul {
    margin: auto;
  }

  span.img-text,
  h5 {
  }

  div.desc {
    opacity: 1;
  }

  .footergrid div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 80%;
  }
  
  .footerp {
  width: 70%;
}

  // IMAGE HOVER STYLES //

  section#work ul li a:hover div.desc {
    background-color: $moderate-color;
  }

  div.footergrid {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  section#work ul li {
    grid-column: span 1;
  }
  
  section#about ul li.bio {
  grid-column: span 3;
  width: 60%;
  display: block;
    margin: auto;
    padding-right: 0;
    padding-bottom: 2em;
  }
  
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1 {
    margin: 5% 0 0 0;
  }

  div.footergrid {
    width: 40%;
  }

  .left-half h1 {
    margin: 15vh 4% 0 0;
  }

  .right-half h1 {
    color: $main-color;
    margin: 25vh 0 0 4%;
  }
  .footergrid div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 80%;
  }
  .footerp {
  width: 40%;
}
}

@media screen and (min-width: 2000px) {

  section#about ul li.bio {
  grid-column: span 3;
  width: 40%;
  }
  
  ul.showcase-container {
    grid-template-columns: 1fr 1fr;
  }

  section#work ul li#manito {
    grid-column: 1 / span 2;
  }

  section#work ul li {
    grid-column: span 1;
  }
  div.footergrid {
    width: 40%;
  }
  section.gallery ul li.largerspan {
    grid-column: 1 / span 2;
  }
  .footerp {
  width: 30%;
}
}
