<section id="work">
    <h3>my work</h3>
    <ul>
      <li>
        <h4>mellc landing page</h4>
        <p>
          a landing page i was hired to create for mandaree enterprises that links to several of their other websites. the page is mostly a recreation of their previous landing page that had to be taken down because of security issues.
        </p>
        <!-- will link eventually or replace item -->
        <a href="#"><img src="img/mellc.svg" alt="mellc landing page"></a></li>
      <li>
        <h4>lodger google doodle</h4>
        <p>
          a page i made in order to practice css animations. it's an animated recreation of the album cover for david bowie's "lodger" with several little touches to differentiate it from the original image.
        </p>
        <a href="https://jamsbury.github.io/Lodger-Google-Doodle/"><img src="img/google.svg" alt="david bowie lodger google doodle"></a>
      </li>
      <li>
        <h4>various illustrations</h4>
        <p>
          various illustrations i've made for several projects, i prefer to avoid illustrations that look like they've been made on a computer and try to incorporate some "organic" energy into my work.
        </p>
        <div id="gallery">
          <a href="img/camp-mask.jpg">
          <img src="img/camp-mask-thumb.jpg" alt="camp journey mask illustration"> 
      </a>
          <a href="img/camp-front.jpg">
          <img src="img/camp-front-thumb.jpg" alt="camp journey day illustration"> 
      </a>
          <a href="img/camp-back.jpg">
          <img src="img/camp-back-thumb.jpg" alt="camp journey evening illustration"> 
      </a>
          <a href="img/manito.jpg">
          <img src="img/manito-thumb.jpg" alt="manito park promotional illustration"> 
      </a>
        </div>
      </li>
    </ul>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon class="svg-sm" fill="#00d9e5" points="0,0 100,100 0,100"/>
  </svg>
  </section>